body {
	font-family: 'Arvo', 'Arial';
	font-size: 20px;
	font-weight: 400;
	color: rgb(47, 43, 82);
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.section {
	padding-bottom: 50px;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.container.bub {
	border: 15px dashed rgb(145, 145, 253);
	box-shadow: 0px 0px 100px 100px rgba(145, 145, 253, 0.753) inset;
	overflow: hidden;
}

.header {
	padding: 50px 0;
}

.title.bob {
	font-family: 'Akaya Telivigala', sans-serif;
	font-size: 42px;
	text-align: center;
	text-shadow: 2px 5px 5px rgb(131, 126, 206);
	box-shadow: 0px 0px 25px 10px rgba(50, 154, 235, 0.575), 0px 0px 22px 15px rgba(7, 79, 134, 0.2) inset;
	border-radius: 30px;
}

.bub340 {
	max-width: 340px;
	box-shadow: 0px 0px 10px 26px rgba(238, 94, 94, 0.623);
	border-radius: 46% 54% 58% 42% / 33% 56% 44% 67% ;
	text-align: center;
	margin-bottom: 15px;
}

.text.bub {
	padding: 50px;
}

.subtitle.bub {
	padding: 30px;
	max-width: 150px;
	border-radius: 50%;
	margin-left: 200px;
	box-shadow: 0px 8px 0px 20px rgba(250, 170, 49, 0.78) inset;
	font-weight: 700;
}

.bub-link {
	display: block;
	max-width: 150px;
	border-radius: 50%;
	max-width: 150px;
	padding: 30px;
	font-weight: 700;
	outline: 30px solid pink;
	margin-left: 250px;
}

.bub400 {
	max-width: 400px;
	border-radius: 50%;
	border-top: 5px ridge rgb(238, 255, 4);
	border-bottom: thick double #32a1ce;
	text-align: center;
	margin: 0 auto;
}

.bub450 {
	max-width: 450px;
	border-radius: 50%;
	text-align: center;
	margin: 0 0 0 auto;
	border-left: 5px solid red;
	box-shadow: 34px -14px 100px -25px rgba(236, 250, 34, 0.938), -51px 43px 100px -75px rgba(236, 250, 34, 0.938) inset;
}

.subtitle.bub.big {
	padding: 30px;
	max-width: 180px;
	border-radius: 50%;
	margin-left: 700px;
	text-align: center;
	font-weight: 700;
	box-shadow: 0px 5px 10px 2px rgba(90, 252, 131, 0.568) inset;
}

.bub520 {
	max-width: 520px;
	border-radius: 50%;
	box-shadow: 0px 0px 50px 30px rgba(82, 179, 253, 0.788), 50px -50px 50px 150px rgba(255, 40, 208, 0.753) inset;
	text-align: center;
	margin-left: 350px;
	padding: 20px;
}

.bub-girl {
	margin-top: -150px;
}


/* !! FIGMA !! */
/* !! FIGMA !! */
/* !! FIGMA !! */


@font-face {
font-family: Circular;
src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
font-weight: 400;
font-style: normal;
font-display: swap;
}

@font-face {
	font-family: Circular;
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	}

.figma.section {
	font-family: 'Circular';
	font-size: 20px;
	font-weight: 400;
	color: #5F5F5F;
}

.subtitle.figma {
	font-size: 65px;
	line-height: 1.26;
	color: #313131;
	text-align: center;
}

.text.figma {
	max-width: 750px;
	text-align: center;
	margin: 0 auto;
	line-height: 1.25;
	margin-bottom: 60px;
}

.viem {
	max-width: 508px;
	line-height: 1.55;
	margin-bottom: 60px;
}

.viem-decor {
	display: inline-block;
	margin-bottom: 20px;
	font-size: 34px;
	font-weight: 700;
	line-height: 1.3;
	color: #313131;
}

.person {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.3;
	color: #313131;
	margin-bottom: 50px;
}

.special {
	color: #B8B8B8;
}



























































